.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 40px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.logo:hover {
    color: #c0c0c0;
}

.menu {
    display: flex;
    gap: 20px;

    list-style: none;
}

.menu a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    text-transform: uppercase;
    text-align: center;
}

.menu a:hover {
    color: #c0c0c0;
}

.menu a::after {
    content: '';

    width: 0;

    height: 2px;

    background: white;

    position: absolute;

    left: 0;
    bottom: -5px;

    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}