@media(max-width: 768px){

    .navbar{
        flex-direction: column;

        gap: 20px;

        padding: 10px;
    }

    .menu{
        flex-direction: flex;

        align-items: center;
    }

    .banner{
        justify-content: center;

        text-align: center;

        padding: 20px;
    }

    .banner-content{
        padding: 30px;
    }

    .banner-content h1{
        font-size: 48px;
    }

    .banner-content p{
        font-size: 16px;
    }

    .produtos{
        padding: 80px 20px;
    }

    .produtos h2{
        font-size: 32px;
    }

    .card-produto{
        width: 100%;
        max-width: 350px;
    }
    
    .footer-container{
    flex-direction: column;

    text-align: center;
}
}
